<div id="displayProduct" class="display-product">
            <% @products.each do |product| %>
                <div class="card">
                    <img src=<%= product.image_link %> alt="" srcset="" height="30%" max-width="100%" />
                    <section class="titleSection" > <%= product.title %></section>
                    <section class="categorySection" >
                        <h3><%= product.category %></h3> 
                        <h3 class="price">$ <%= product.price %></h3>                
                    </section>
                    <section class="buttonSection" >
                        <button onclick="getDetails(<%= product.id %>)">More Details</button>
                        <button id=<%= product.id %> onclick="addCartItems(<%= product.id %>)">add to cart</button>
                    </section>        
                </div>
            <% end %>
        </div>