<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag "product_details", media: "all", "data-turbo-track" => "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="heroSection" class="hero-section cart-section">
    <div class="navbar">
        <img src="https://www.edesk.com/wp-content/uploads/2020/05/Biggest-online-marketplaces-in-the-world.jpg"
            height="80%" alt="">
        <div>
            <button onclick="gotoHome()"><i class="fa fa-home fa-3x" aria-hidden="true"></i><b>home</b></button>
        </div>
    </div>

    <div class="product-detail-container">        
        <div id="productDetailContainer" class="product-details-div">
            <div class="product-details-img">
                <img src=<%= @eachProductDetails.image_link %> style="max-height: 100%;" alt="" srcset=""  width="100%" />
            </div>
             <div class="product-alldetails">
                <section class="section"><%= @eachProductDetails.title %></section>
                <section class="sections"><%= @eachProductDetails.category %></section>
                <section class="sections">
                    <div><i class="fa fa-star" aria-hidden="true"></i><%= @eachProductDetails.rate %> </div>
                    <div><i class="fa fa-user" aria-hidden="true"></i><%= @eachProductDetails.total_person %></div>
                    <div><button onclick="gotoRatingPage()">give rating</button></div>
                </section>
            <div class="description"><%= @eachProductDetails.description %></div>
        </div>
    </div>    
    <%= javascript_include_tag "productDetailsjs","data-turbo-track" => "reload" %>
</body>

</html>